/* Your Website Styles */



body {
	font-family: 'Raleway', sans-serif;
	color: #FF8591;
	background-image: url(../img/seamless_paper_texture.png);
}

img {
	width: 490px;
	height: 500px;
}



h1 {
	color: #44878F;
}

h3 {
	text-align: center;
	color: #44878F;
}

p {
	text-align: justify;
}